body {
  margin: 0px;
  position: fixed; 
  height: 100%
}

#twin-map-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  height: 100%;
}

.map {
  height: 100%;
  width: 100%
}

.map-container {
  flex: 1 1 auto;
  min-height: 25vh;
  width: 100vw;
}

@media (min-width: 1000px) {
  .map-container {
    flex: 1;
    height: 100vh;
    min-width: 30vh
  }
}

